<% title("Home") %>

<h1>Easy to install = more app downloads</h1>

<ol>
	<li>Give us your app store URL</li>
	<li>We generate HTML</li>
	<li>Add it to your website</li>
	<li>Watch app installs [SOMETHING]</li>
</ol>

<div>
	<h2>Pricing</h2>

	<ul>
		<li>[PRICING MODULE #1]</li>
		<li>[PRICING MODULE #2]</li>
		<li>[PRICING MODULE #3]</li>
	</ul>
</div>
